{% extends 'base.html' %}

{% block head %}
<title>Top 250 Movies Ratings</title>
{% endblock %}

{% block body %}
<h1 class="text-center">Top 250 Movies</h1>
<img class="img-fluid" id="banner" src="static/banner.jpg" alt="banner">

<nav>
    <!-- navbar here -->
</nav>

<main>
    <!-- movies blocks here -->
</main>

<footer>
    <div>
        <img src="" alt="">
    </div>
    <ul>
        <li><a href="">訂閱我們</a></li>
        <li><a href="">聯繫客服</a></li>
    </ul>
    <ul>
        <li><a href=""><img src="" width="" height="" alt="facebook的圖示"></a>
        </li>
        <li><a href=""><img src="" width="" height="" alt="instagram的圖示"></a></li>
        <li><a href="">隱私權政策</a></li>
    </ul>
    <div>
        <p>
            Copyright 2023, Ethan
        </p>
    </div>
</footer>
{% endblock %}